@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie'), local('Cookie-Regular'), url(font/cookie.woff) format('woff');
}

body{
  background:#728344;
  background:#2b2914 url('image/fallfield8.jpg') 0px 0px no-repeat;
  background-attachment: fixed;
}

div.page{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

div#pageContainer{
}


/*Header*/
#header{
  height:170px;
  background: rgba(0,0,0,0.2);
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(31%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */

  color:#fff;
  font-family: 'Cookie', sans-serif;
  font-size:40px;
  text-align:right;
  padding:20px;
  padding-bottom:0px;
  border-bottom:7px solid #857d45;
}

#header .title{
  font-size:60px;
}

/*Navigation*/
#navigation{
  width:150px;
  float:left;
}

#navigation .page{
  color:#d5610b;
  font-weight:bold;
}

#navigation .menu{
}

#navigation .menu em{
  padding:3px;
  font-size:13pt;
  display:block;
}

#navigation .menu a{
  padding:3px;
  text-decoration:none;
  display:block;
  color:#3d3604;
  font-weight:bold;
  font-size:12pt;
}

#navigation .menu a:hover{
  background:#f6a545;
}


#navigation .subMenu a{
  display:block;
  background:#fff;
}

#navigation .subMenu em{
  display:block;
  background:#fff;
}

#navigation .subMenu{
  padding-left:15px;
  font-size:13pt;
  display:none;
}
#navigation .subMenu{
  background:#d5610b;
}

/*SubNav*/
#bar{
margin-left:150px;
border-left:7px solid #857d45;

}

#subNav{
background:#857d45;
color:#fff;
padding-bottom:5px;
}




/*center*/
#centerContainer{
  background:#fff;
}


#center{
  margin-left:150px;
  min-height:580px;
  border-left:7px solid #857d45;
  padding:10px;
  color:#3d3604;
  font-family:"Arial";
}

/*#center p{
margin-top:5px;
margin-bottom:30px;
}*/

#center b{
font-size:14pt
}

#center a{
  color:#e16807;
}
#center a:hover{
  color:#e13007;
}

#center #left{
  width:50%;
  display:inline-block;
}

#center #right{
  width:48%;
  display:inline-block;
  vertical-align:top;
}


/*footer*/
#footer{
  text-align:center;
  color:#fff;
  text-shadow:#000 1px 1px;
  border-top:7px solid #857d45;
}

/*calendar*/
.calendar .list .event{
  margin-left:auto;
  margin-right:auto;
  border-radius:8px;
}

.calendar .event.dialog{
  border-radius:0px;
  padding-top:0px;
}

.calendar .event .description p{
  margin:0px;
  margin-top:8px;
}

.calendar .event table{
  padding-top:10px;
  background:transparent;
  table-layout: auto;
}

.calendar .event table.times td{
  border-bottom:1px solid #aaa;
}

.calendar .event table.times .time{
  text-align: right;
  width: 68px;
}

.calendar .event table td{
  height:auto;
}

.calendar .month .event .dinnerDescription
{
  display:none;
}

.component.event{
  border:1px solid #695f22;
  padding-top:5px;
  padding-bottom:5px;
  box-shadow:3px 3px 10px rgba(88,105,34,0.5);
  max-width:550px;
  margin-bottom:15px;
  color:#696722;
}

.component.event.dialog{
  min-width:400px;
}

.component.event .title{
  font-weight:bold;
  padding-bottom:10px;

}

#center .component.event div.cHeader{
  text-align:center;
  text-decoration:none;
  font-weight:normal;
}

#center .component.event.dialog div.cHeader{
  font-weight:bold;
}

.component.event .date{
  font-size:12pt;
}

.component.event .cContent{
  padding-top:10px;
  text-align:center;
}

.component.event .cFooter{
  display:none;
}

.event .cancelled, .event .soldout{
  text-align:center;
  width:100%;
  position:relative;
  top:-50px;
  background: orange;
  padding-top:5px;
  padding-bottom:5px;
  font-weight:bold;
  font-size:14pt;
}

.event .cancelled, .event .limitedtickets{
  text-align:center;
  width:100%;
  position:relative;
  background: orange;
  padding-top:5px;
  padding-bottom:5px;
  font-size:11pt;
}

.component.event.today{
  border:2px solid #b10f0f;
}

.calendar .calHeader{
  text-align:center;
  font-weight:bold;
}

.calendar .calHeader span{
  width:250px;
  display:inline-block;bzr staut
}

.calendar table{
  width:100%;
  border-spacing:1px;
  table-layout : fixed;
  background:#c0c0c0;
}

.calendar tbody{
}

.calendar th{
  background: #ff3019;
  background: -moz-linear-gradient(top,  rgba(31,59,8,1) 0%, rgba(103,127,77,1) 20%, rgba(103,127,77,1) 29%, rgba(31,59,8,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,59,8,1)), color-stop(20%,rgba(103,127,77,1)), color-stop(29%,rgba(103,127,77,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(31,59,8,1) 0%,rgba(103,127,77,1) 20%,rgba(103,127,77,1) 29%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(31,59,8,1) 0%,rgba(103,127,77,1) 20%,rgba(103,127,77,1) 29%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(31,59,8,1) 0%,rgba(103,127,77,1) 20%,rgba(103,127,77,1) 29%,rgba(31,59,8,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(31,59,8,1) 0%,rgba(103,127,77,1) 20%,rgba(103,127,77,1) 29%,rgba(31,59,8,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3b08', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

  color:#eee;
  font-weight:bold;
}

.calendar td{
  height:130px;
  vertical-align:top;
  background:#fff;
  overflow:hidden;
}

.calendar .month .dHeader{
  background:#ddd;
  padding-left:10px;
}

.calendar .month .today{
  background:#3F99d1;
}

.calendar .month .eventDetails{
  text-decoration:none;
  color:#000;
  display:block;
  text-align:center;
  padding-bottom:5px;
}

.calendar .month .eventDetails.title{
  font-weight:bold;
  font-size:11pt;
}

.calendar .month .eventDetails.description{
  width:100%;
  max-height:200px;
  overflow:auto;
  font-size:11pt;
}

.calendar .month .eventDetails:hover{
  color:#0FB1B1;
}

.calendar .year .month{
  margin-bottom:50px;
}

.calendarNav{
  padding-left: 10px;
}

.calendarNav .applyButton{
  display:inline-block;
}

.calendarNav .search{
  display:inline;
}


.calNav{
  text-decoration:none;
}

/*gallery*/
textarea.imageTagger{
  min-height:150px;
}

.image2 .info .selectedTag{
  text-shadow:none;
}

/*Gallery*/

.image2 .cContent
{
/*float:left;*/
display:inline-block;
}

.image2 .selected img
{
width:100%;
border:none;
}

/*talks about using inline block http://bugs.jqueryui.com/ticket/6942*/
.thumb
{
/*display:inline;*/
display:inline-block;
}


.thumb
{
border:3px solid #333;
opacity:.65;
box-shadow: 0 5px 5px -3px black;
border-radius: 5px;
margin:2px;
}

.thumb:hover
{
opacity:1;
box-shadow: 4px 4px 4px #000;
/*height:110px;
margin-right:2px;
margin-left:0px;
margin-top:0px;*/
}

.selectedThumb
{
opacity:1;
border:2px solid #e62;
box-shadow: 4px 4px 4px #000;

}

.thumbViewer
{
background:#eee;
height:160px;
padding-top:15px;
border-radius: 25px 25px 0px 0px;
min-width:520px;
overflow:hidden;
clear:both;
text-align:left;
}

.thumbViewer .thumbCenter
{
margin-left:60px;
margin-right:60px;
}

/*drag and drop controls*/
.thumbCenter.ui-sortable .ui-sortable-helper
{
background:transparent;
width:100px;
} 

/*drag and drop*/
.thumbCenter.ui-sortable .ui-state-highlight
{
width:210px;
height:150px;
background:#e62;
opacity:0.7;
display:inline-block;
} 

#triangle-left
{ 
width: 0;
height: 0; 
border-top: 12px solid transparent; 
border-right: 35px solid #666; 
border-bottom: 12px solid transparent;
float:left;
margin-left:5px;
margin-top:45px;
}

#triangle-right 
{ 
width: 0; 
height: 0; 
border-top: 12px solid transparent; 
border-left: 35px solid #666; 
border-bottom: 12px solid transparent;
float:right;
margin-right:5px;
margin-top:45px;
margin-bottom:46px;
}

#triangle-center-up
{
width: 0; 
height: 0; 
border-left: 35px solid transparent; 
border-right: 35px solid transparent; 
border-bottom: 20px solid #666;
display:block;
margin-left:45%;
display:none;
margin-top:-20px;
}

#triangle-center-down 
{ 
width: 0; 
height: 0; 
border-left: 35px solid transparent; 
border-right: 35px solid transparent; 
border-top: 20px solid #666;
display:block;
margin-left:45%;
}

.thumbViewer #triangle-right:hover 
{
border-left: 35px solid #c0c0c0;
}

.thumbViewer #triangle-left:hover 
{
border-right: 35px solid #c0c0c0;
}

#triangle-center-up:hover 
{
border-bottom: 20px solid #c0c0c0;
}

#triangle-center-down:hover 
{
border-top: 20px solid #c0c0c0;
}

.tip
{
background:#f0f0f0;
width:280px;
padding-top:10px;
padding-bottom:5px;
text-align:center;
border-radius: 0px 0px 20px 20px;
box-shadow: 2px 3px 6px rgba(0,0,0,0.5);
margin-top:-10px;
}

.tip .dismiss
{
display:block;
float:none;
color:#000;
width:70px;
margin-left:auto;
margin-right:auto;
margin-bottom:0px;
margin-top:5px;
text-shadow: none;
text-decoration:none;
}

.tip .dismiss , .info .imageSubmit
{
background:#e62;
border:none;
box-shadow: 0 1px rgba(255, 255, 255, 0.4), 0 20px 20px -10px rgba(255, 255, 255, 0.6) inset;
}

/*http://tests.themasta.com/blogstuff/boxshadowdemo.html/*/
.tip .dismiss:hover, .info .imageSubmit:hover
{
box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.4) inset, 0 1px 3px #000000 inset, 0 1px rgba(255, 255, 255, 0.5);
}


.thumbViewer{
border-radius: 0px;
}

.thumb{
opacity:0.9;
box-shadow: 2px 5px 5px -1px #000;
border: 2px solid transparent;
margin:5px;
}

.thumb.selectedThumb {
    border: 2px solid #d98d8d;
    box-shadow: 4px 4px 4px #000000;
    opacity: 1;
}

.thumb:hover{
border-color: #d98d8d;
}

/*info*/
.image2 .info
{
text-align:left;
background:#eee;
max-width:185px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
/*border-radius: 0px 25px 25px 0px;*/
display:inline-block;
vertical-align:top;
margin-top:15px;
border: 2px solid #b10f0f;
border-left:0px;
border-radius:5px;
}


.image2 .info h6
{
font-size:10pt;
}

.image2 .info .selectedTag 
{
color: #EE6622;
text-shadow: 1px 1px 0 black;
display:block;	
}

.image2 .info .stickyLink
{
display:inline;
float:right;

}

.info .imageSubmit
{
float:none;
margin:5px;
}

.info a
{
color:#0F60B1;
text-decoration:none;
/*text-shadow: 2px 3px 0px black;*/
display:block;
}

.info a:hover
{
color:#0FB1B1;
}

.info h6
{
margin:0px;
margin-top:10px;
}

/*autocomplete*/
.ui-autocomplete
{
background:#fff;
width:130px;
padding-left:0px;
list-style:none;
position:absolute;
box-shadow: 3px 3px 6px rgba(0,0,0,0.8);
color:#000;
border:2px solid #b10f0f;
border-top:none;
border-left:none;
padding-top:10px:
padding-bottom:10px;
border-radius: 0px 0px 25px 0px;
}

.ui-autocomplete ul
{
}

.ui-corner-all{
color:#000;
}

.ui-autocomplete a.ui-corner-all
{
display:block;
padding-left:10px;
padding-right:10px;
text-decoration:none;
}

.ui-autocomplete a.ui-corner-all:hover
{
text-decoration:underline;
color:#0F60B1;
}


	.calendar .month .eventDetails.description{
		display:none;
	}

	.calendar th{
	    overflow:hidden;
	}
@media screen and (max-width:1200px) {

}

/*900*/
@media screen and (max-width:900px) {
  div.page{
    width:100%;
  }

	.calendar th{
		font-size:10pt;
	}

  .calendar .month .eventDetails.title{
    font-weight:normal;
    font-size:9pt;
  }



	.calendar td{
		height:80px;
	}
}


/*750*/
@media screen and (max-width:750px) {
  #center #left{
    display:block;
    width:auto;
  }
}

@media screen and (max-width:700px) {
  #header{
    text-shadow:1px 1px 1px #000;
  }

  #center #right{
    width:auto;
  }
}

/*500*/
@media screen and (max-width:500px) {
  #navigation{
    float:none;
    width:auto;
  }

	#navigation .menu a{
		padding-top:7px;
		padding-bottom:7px;
	}

	#bar{
		margin-left:0px;
	}
	#bar .calendarNav{
		padding-left:0px;
	}

  #center{
    margin-left:0px;
    border-top:7px solid #857d45;
    border-left:none;
    padding-top:25px;
  }
}

/*450*/
@media screen and (max-width:450px) {
#header{
font-size:30px;
}

#header .title{
font-size:50px;
}

}

.hidden
{
/*display:none;*/
}


